<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agulu</title>
</head>
<body>
            <div style="display: block;">
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hi <%= name %>,</p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">We received a request to reset the password for your Agulu account. No stress—it happens to the best of us! To keep things secure and easy, just use the unique code below to reset your password: </p>
                <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;"><%= otp %></h3>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Enter this code on the password reset screen, and you’ll be all set with a brand-new password in no time. For security reasons, this code is only valid for the next 3 minutes. If it expires, don’t worry—you can always request a new one.</p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">If you didn’t request this password reset, feel free to ignore this message. Your account is safe and no changes have been made.</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">And as always, if you need any help along the way, our support team is just a message away. Please contact us at support@agulu.app if you have any queries.</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Take care,</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Agulu Team</p>
            </div>
</body>
</html>