<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agulu</title>
</head>
<body>
            <div style="display: block;">
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hi <%= name %>,</p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome to The Agulu Family!</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">You’ve just unlocked a smarter, easier way to stay on top of your finances. From real-time transaction updates to instant credit access and powerful reports, everything you need is now right at your fingertips.</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">We’re excited to have you with us—and we can’t wait to see how Agulu helps you do more, stress less, and take charge of your financial world.</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">If you ever need a hand, we’ve got your back. Reach out to our support team for any questions or clarifications at support@agulu.app</p>

               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Cheers,</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Agulu Team</p>
            </div>
</body>
</html>