<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agulu</title>
</head>
<body>
            <div style="display: block;">
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hi <%= name %>,</p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Just a quick note to let you know that your Agulu account password has been successfully updated.</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">You can now log in with your new password and continue managing your finances with ease and confidence. </p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">If you didn’t make this change or think something’s not quite right, please reach out to us immediately—we’re here to help keep your account safe and secure.</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Thanks for being part of the Agulu community!</p>

               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">All the best,</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Agulu Team</p>
            </div>
</body>
</html>